mrbl-table {
  box-sizing: border-box;

  display: grid;
  border: 1px solid rgba(0,0,0,0.12);
  grid-auto-flow: dense;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}
mrbl-table.is-selectable {
  grid-template-columns: max-content repeat(calc(var(--columns, 1) - 1), 1fr);
}


mrbl-table.is-striped mrbl-column > mrbl-cell:nth-of-type(even):not(is-selected),
mrbl-table.is-striped mrbl-column-select > mrbl-cell:nth-of-type(odd):not(is-selected) {
  background-color: var(--mrbl-stripe-background-color, rgba(0,0,0,0.06));
}

