nomadx-table {
  --row-background-color: #fff;
  --stripe-background-color:#fafafa;

  --row-has-focused-cell--background-color: #e1f5fe;
  --stripe-has-focused-cell--background-color: var(--row-has-focused-cell--background-color);

  --table-border: 1px solid #dfe2e5;
  --cell-padding: 12px;

  // Focus Ring
  --focus-ring-width: 2px;
  --focus-ring-blur: 0;
  --focus-ring-color: #29b6f6;
  --focus-ring-border-radius: 2px;


  display: block;
  width: 100%;

  // .nomadx-table--container {
  //   display: block;
  //   position: relative;
  //   overflow: auto;
  //   max-width: 100%;
  // }

  table {
    border-collapse: collapse;
    font-family: inherit;
    border: var(--table-border);
    width: 100%;


    & * {
      box-sizing: border-box;
    }

    caption {
      opacity: 0;
      height: 0;
    }

    thead {
      tr {
        background-color: var(--row-background-color);
      }
    }


    tbody {
      tr {
        background-color: var(--row-background-color);
        border-bottom: 1px solid rgba(0,0,0,0.06);

        &.has-focused-cell {
          background-color: var(--row-has-focused-cell--background-color);
        }
      }
    }

    tr {
      transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    td, th {
      position: relative;
      vertical-align: top;
      border: var(--table-border);


      // &:focus, &.is-focused {
      //   outline: 0;

      //   &::after {
      //     content: "";
      //     border-radius: var(--focus-ring-border-radius, 0);
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     bottom: 0;
      //     right: 0;
      //     box-shadow: 0 0 var(--focus-ring-blur, 0) var(--focus-ring-width, 2px) var(--focus-ring-color);
      //   }
      // }

      &.is-fixed-width {
        width: var(--fixed-width, auto);
        max-width: var(--fixed-width, auto);
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

    }

    th {
      font-weight: bold;
      color: rgba(0,0,0,0.87);
      text-align: left;
      height: var(--thead-height);


      &:not(.sortable) {
        padding: var(--cell-padding);
      }

      &.sortable {
        cursor: pointer;

        .cell--inner {
          padding: var(--cell-padding);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: stretch;
        }

        svg {
          margin-left: 2px;
        }

        svg path {
          fill: rgba(0, 0, 0, 0.28);
        }

        &[aria-sort="ascending"] svg .arrow-top {
          fill: rgba(0, 0, 0, 1);
        }
        &[aria-sort="descending"] svg .arrow-bottom {
          fill: rgba(0, 0, 0, 1);
        }

      }
    }

    td {
      font-feature-settings: "tnum";
      padding: var(--cell-padding);
      color: rgba(0,0,0,0.54);
      z-index: 0;
    }

  }

  &.is-striped {
    tbody tr:nth-of-type(odd) {
      background-color: var(--stripe-background-color);

      &.has-focused-cell {
        background-color: var(--stripe-has-focused-cell--background-color);

      }

    }
  }

}
